#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Details > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Signees {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Signees > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_31 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SectionTitle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SectionTitle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Added_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_fingerprint_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_Signature_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Added_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_fingerprint_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_Signature_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SectionTitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Added_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_fingerprint_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ic_Signature_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SectionTitle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Added_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_84 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_105 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Light > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Dark > .valign {
  vertical-align: middle;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_34 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_99 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_100 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_106 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_107 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SearchCustomer > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ClearBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SearchFilter_Btn_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Deco_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SearchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_61 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_67 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_68 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_69 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_70 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_71 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-NoInternet {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-NoResults {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-NoListedResults {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-NewBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-AddCustomer > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Category_2-options {
  background-color: transparent;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-AddNewCustomer > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Category_3-options {
  background-color: transparent;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_104 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FamilyMembers > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_59 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_60 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_62 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_63 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_66 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_20 > .valign {
  vertical-align: bottom;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 138px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 88px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-BackBtn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_32 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressIndicatorBase_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressIndicator_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_8 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_20 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_21 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ProgressTick_22 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FingerprintImg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FingerprintImg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FingerprintImg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FingerprintImg_0 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-DoneLbl_10 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-FingerName_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ReplaceBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_53 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_57 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_72 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Title_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Panel_33 > .valign {
  vertical-align: top;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Title_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_49 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Btn_50 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-SubmitBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-CancelBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_4 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_5 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Ellipse_6 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-ID_Front {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_74 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 36px 36px 36px 36px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-PrototypeTip_2 {
  -ms-transform: rotate(0.0deg);
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba #s-PrototypeTip_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-095113c8-291e-41a0-995c-fdbd04e2a6ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}