#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-MainGroup_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-DoneLbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-DoneLbl_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-MainGroup_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-DoneLbl_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-DoneLbl_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-SectionTitle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-checkbox-on-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-RemoveBtn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-checkbox-on-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-RemoveBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-AddBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-SectionTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-checkbox-on-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-RemoveBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-AddBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Status_MC_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Status_MC_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Status_MC_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Status_MC_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Address_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-CustomerType_Corporate {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-CancelBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Btn_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1dd48b9c-91fc-4650-9742-d356093c27ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}