#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProfileBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-ProgressTick_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Status_MC_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Status_OS {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Btn_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-checkbox-on-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-Rectangle_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d #s-PrototypeTip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3abdf0e8-490a-4cfb-9362-99f504c7638d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}