#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Details > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditCheck {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditCheck > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-SectionTitle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D1D1D1;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D1D1D1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D1;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D1D1D1;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-SectionTitle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Added_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_43 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_78 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditGauge_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Added_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_79 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditGauge_2 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-spinner-2_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-SectionTitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Added_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-spinner-2_2 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_80 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditGauge_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-spinner-2_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditCheck_Summary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditCheck_Summary > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Back_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_81 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CreditGauge_4 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Address_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-BusinessCategory_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_145 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_146 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_147 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_148 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_149 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_150 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_151 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_152 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_153 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_154 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_155 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_156 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_157 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_158 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_159 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_160 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_161 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_162 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-BusinessCategory_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressIndicatorBase_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressIndicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_0 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_2 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_4 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_5 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_6 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_7 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-ProgressTick_8 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_84 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_105 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Light > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Dark > .valign {
  vertical-align: middle;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_113 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_114 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-SubmitBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-CancelBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Ellipse_4 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Ellipse_5 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Ellipse_6 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-51e3812f-937e-4bb0-a63b-8c81301de8b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}