#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-background {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-base_8 {
  -pie-background: url('./images/5d023f3d-02b1-4ed5-abe3-f318d5351e37.png') no-repeat left bottom scroll, linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-settings_dropdown {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-settings_dropdown > .valign {
  vertical-align: top;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_42 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_43 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DF7D7E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DF7D7E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DF7D7E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DF7D7E;
  border-radius: 7px 7px 7px 7px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_44 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Category_6-options {
  background-color: transparent;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_60 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-AddNewCustomer > .valign {
  vertical-align: top;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Category_7-options {
  background-color: transparent;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Category_4-options {
  background-color: transparent;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_56 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_57 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_53 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_54 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_65 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_66 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-546dc44e-97a7-48a3-8234-9264274fe0d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}