#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Details > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_37 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_88 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_6 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_97 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_7 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_100 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_8 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_20 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_33 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_39 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_43 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_47 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Main > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NewBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-base_11 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NewBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-OverflowBtn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Light > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Dark > .valign {
  vertical-align: middle;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Panel_31 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_8 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_0 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-DoneLbl_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerName_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ReplaceBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_54 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_58 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_59 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Content_2 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ErrorMsg_OTP_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SendAgainBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BackBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Content_4 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Success > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_60 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_61 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_62 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_63 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SaveBtn_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SaveBtn_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Content_1 > .valign {
  vertical-align: top;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NoInternet {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Due {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_87 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #78BF12;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #78BF12;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #78BF12;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #78BF12;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_90 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_92 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_99 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Details {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_98 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ErrorMsg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_46 {
  -ms-transform: rotate(180.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_101 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_84 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #78BF12;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #78BF12;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #78BF12;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #78BF12;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_85 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_86 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_66 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_67 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SubmitBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CancelBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}