#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProfileBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Current_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-TransactionAmount_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Status_MC_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NewBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-base_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NewBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-OverflowBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ProgressTick_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerprintImg_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-FingerName_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ReplaceBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ErrorMsg_OTP_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SendAgainBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-BackBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SaveBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SaveBtn_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-NoInternet {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Due {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Amount_Details {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-ErrorMsg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_46 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Btn_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_66 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b #s-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-56942cd0-2160-4841-b843-ac43598bed1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}