#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-ClearBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-SearchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-SearchFilter_Btn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Deco_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-ServerData_Img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-DeviceData_Img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-FilterResults_Lbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Item_Chkd_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-ModeSwitchBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-LoanStatus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-LoanStatus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-LoanStatus_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Filter_TimeRange_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_59 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Title_Dlg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Alerts_None {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Title_Dlg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-CloseBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 #s-Alerts_None_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5f1c8e0b-4447-489c-acc0-e2683ca19ba8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}