#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Status_MC_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_42 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Details > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-SectionTitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_3 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_4 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-SectionTitle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-NewSectionBtn_Normal_8 > .valign {
  vertical-align: middle;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_109 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-NewSectionBtn_Dsbld_8 > .valign {
  vertical-align: middle;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_46 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-EditBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Light > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Dark > .valign {
  vertical-align: middle;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}