#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Status_MC_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-SectionTitle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Status_MC_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-SectionTitle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-EditBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7791c027-5231-469e-9c04-7b3d4eba85ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}