#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-ProfileBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-MainGroup_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-MainGroup_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-MainGroup_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DoneLbl_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-CustomerPhoto_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SectionTitle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SectionTitle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-checkbox-on-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-RemoveBtn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-checkbox-on-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-RemoveBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-AddBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SectionTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-checkbox-on-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-RemoveBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-AddBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SignatureImg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Address_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-EditBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-CloseBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-ProgressIndicator_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-RemoveBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-ClearBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SearchFilter_Btn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Deco_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-SearchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Status_MC_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-NoInternet {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-NoResults {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-NoListedResults {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-NewBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-CloseBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-BackBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 #s-PrototypeTip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-835f79ed-9094-4ba3-9221-0287e197be01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}