#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-FilterResults_Lbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-ClearBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-SearchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-ModeSwitchBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-LoanStatus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-LoanStatus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-LoanStatus_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Filter_TimeRange_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_59 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Title_Dlg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Alerts_None {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Title_Dlg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-CloseBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae #s-Alerts_None_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6733b65-93d3-49a8-8d6b-4eb1095ee1ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}