#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Panel_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Category_27-options {
  background-color: transparent;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_136 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_140 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_137 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Category_28-options {
  background-color: transparent;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_152 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_138 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_139 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-SaveBtn_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Panel_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_99 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-SaveBtn_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_100 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Base_Border {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Base_Btn {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_4 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-CloseBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Light > .valign {
  vertical-align: top;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Dark > .valign {
  vertical-align: middle;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Panel_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Panel_23 > .valign {
  vertical-align: top;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_62 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_63 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-AddNewCustomer > .valign {
  vertical-align: top;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Category_4-options {
  background-color: transparent;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_97 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_98 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}