#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Details > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CollateralInformation {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CollateralInformation > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_20 > .valign {
  vertical-align: bottom;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 88px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 128px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Back_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-SectionTitle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Mandatory > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Category_3-options {
  background-color: transparent;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-EmptyState_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_106 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Added_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Address_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Documents > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_149 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Owners > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_33 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_86 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_87 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_93 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_94 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_98 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_99 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_39 > .valign {
  vertical-align: middle;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_100 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_40 > .valign {
  vertical-align: middle;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_104 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CollateralSummary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CollateralSummary > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-SectionTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_119 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Address_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_47 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_120 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Address_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-AddBtn_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_80 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_105 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Light > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Dark > .valign {
  vertical-align: middle;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-AddCustomer > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-FamilyMembers > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-BackBtn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_23 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_24 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 11px;
  height: 26px;
  width: 58px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 11px;
  height: 26px;
  width: 58px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Title_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Panel_28 > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Title_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 138px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Button_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-AddNewCollateral > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_140 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Category_2-options {
  background-color: transparent;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_141 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_160 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-AddExistingCollateral > .valign {
  vertical-align: top;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_61 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_62 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-NoListedResults {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-NewBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Title_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Btn_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-ID_Front {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_76 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 36px 36px 36px 36px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-PrototypeTip_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed #s-PrototypeTip_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c2deb8fa-9207-4dcd-aac4-a12fb70752ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}