#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}