#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProfileBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-BusinessCategory_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Address_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-BusinessCategory_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Address_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Back_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SectionTitle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-RemoveBtn_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-AddBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-ProgressTick_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Status_MC_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Status_OS {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-PrototypeTip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Rectangle_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0bcbb520-0f2b-4827-a2c3-5f6248b7764e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}