#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-IndividualCustomer > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-MainGroup_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-DoneLbl_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Item_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-DoneLbl_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-MainGroup_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Item_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-DoneLbl_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Item_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-DoneLbl_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-PersonalInfo_Form {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-PersonalInfo_Form > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_1-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-ContactInfo_Form_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-ContactInfo_Form_2 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-SectionTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_9-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-checkbox-on-light {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-RemoveBtn_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_10-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-checkbox-on-light_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-RemoveBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-AddBtn_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-SectionTitle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_12-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-checkbox-on-light_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-RemoveBtn_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-AddBtn_4 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-ContactInfo_Form_1_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-ContactInfo_Form_1_1 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_30 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-EmptyState_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_98 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Added_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_99 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Added_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_28 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NewSectionBtn_Normal_5 > .valign {
  vertical-align: middle;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_101 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NewSectionBtn_Dsbld_5 > .valign {
  vertical-align: middle;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_11 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Relations {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_31 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Added_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Added_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_55 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Added_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Address_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NewSectionBtn_Normal_7 > .valign {
  vertical-align: middle;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_108 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NewSectionBtn_Dsbld_7 > .valign {
  vertical-align: middle;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_52 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_19 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 60px;
  width: 170px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_21 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 60px;
  width: 170px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_22 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 40px;
  width: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_23 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 40px;
  width: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_146 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_147 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-CustomerType_Corporate {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 60px;
  width: 170px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_14 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 60px;
  width: 170px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-base_9 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-CancelBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-CustomerID {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_14 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_17 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_5-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_18 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 11px;
  height: 26px;
  width: 58px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 11px;
  height: 26px;
  width: 58px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Title_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-SearchCustomer > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-ClearBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-SearchFilter_Btn_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Deco_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-SearchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_61 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_67 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_68 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_69 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_70 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_71 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NoInternet {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NoResults {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NoListedResults {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-NewBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-AddCustomer > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_2-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-AddNewCustomer > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Category_4-options {
  background-color: transparent;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_105 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_97 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_106 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_107 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_60 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_62 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_74 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_75 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Rectangle_109 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Btn_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-BackBtn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0f1389dd-8fd3-45e8-a64a-c1c580a2cb24 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}