#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Details > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Questionnaire {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Questionnaire > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-SectionTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-SectionTitle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #78BF12;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #78BF12;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #78BF12;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #78BF12;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_306 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_316 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_317 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-SectionTitle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #78BF12;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #78BF12;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #78BF12;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #78BF12;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_80 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_105 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Light > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Dark > .valign {
  vertical-align: middle;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2210cae7-25fd-4a4c-a319-ef79104ad71b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}