#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ClearBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-SearchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-SearchFilter_Btn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Deco_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ServerData_Img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-DeviceData_Img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-FilterResults_Lbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ModeSwitchBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Filter_TimeRange_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_59 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Title_Dlg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Alerts_None {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Title_Dlg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Alerts_None_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}