#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ClearBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-SearchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-SearchFilter_Btn_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Deco_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ServerData_Img {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-DeviceData_Img {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-LoanApplicaitons {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 9px 9px 9px 9px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-LoanApplicaitons > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_42 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_31 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_41 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_32 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_47 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_50 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_52 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_56 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_57 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_63 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_64 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_65 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_68 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_69 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_72 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_73 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_76 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_77 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_80 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_81 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Status_MC_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-FilterResults_Lbl_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-base_9 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Ellipse_3 {
  stroke-width: 4px;
  stroke: #0078C3;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_33 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_43 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_37 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_25 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_89 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_90 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_7 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_91 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_92 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_93 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_94 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_95 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_96 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Item_Chkd_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-NavDrawerBG_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-ModeSwitchBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_53 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_14 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_84 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Category_5-options {
  background-color: transparent;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_88 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Tab_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Filter_TimeRange_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Title_Dlg_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_60 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_61 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Alerts_None {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Panel_24 > .valign {
  vertical-align: top;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Title_Dlg_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-CloseBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_86 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Rectangle_87 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 #s-Alerts_None_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25b840f6-4cb3-4391-9e50-261fef7502b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}