#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-background {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-base_8 {
  -pie-background: url('./images/f95a1177-a10f-4ad1-9595-8de55c432dab.png') no-repeat left bottom scroll, linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Line_3 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Line_3 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Line_4 {
  stroke-width: 2px;
  stroke: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Line_4 {
  stroke-width: 2px;
  stroke: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Rectangle_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4bb0a4ce-5232-49f4-bc02-c2b9b6e4c7f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}