#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Details > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-FamilyInformation {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-FamilyInformation > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_31 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SectionTitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Added_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Added_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Added_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NewSectionBtn_Normal_7 > .valign {
  vertical-align: middle;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_108 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NewSectionBtn_Dsbld_7 > .valign {
  vertical-align: middle;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_43 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicatorBase_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicator_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_20 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_21 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_22 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_23 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Light > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Dark > .valign {
  vertical-align: middle;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SearchCustomer > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ClearBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SearchFilter_Btn_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Deco_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SearchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_61 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_67 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_68 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_69 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_70 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_71 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoInternet {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoResults {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoListedResults {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NewBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-AddCustomer > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_2-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_151 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_35-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_130 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_26-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_131 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-AddNewCustomer > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_4-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_152 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_36-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_132 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_27-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_104 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-AddIncome > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_11-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-RemoveBtn_9 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_109 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Category_14-options {
  background-color: transparent;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-RemoveBtn_10 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-AddBtn_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_59 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_60 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_62 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_63 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_66 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Title_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-CloseBtn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BackBtn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-checkbox-on-light_1 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_165 {
  -ms-transform: rotate(0.0deg);
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}