#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProfileBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SectionTitle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Address_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicatorBase_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicator_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BackBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_OS {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ClearBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SearchFilter_Btn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Deco_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-SearchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Status_MC_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoInternet {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoResults {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NoListedResults {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-NewBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-RemoveBtn_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-RemoveBtn_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-AddBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-CloseBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-BackBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-ProgressTick_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-checkbox-on-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-Rectangle_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 #s-PrototypeTip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-555f9ada-e25c-4f43-a44c-4caa1dfd1980 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}