#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-MainGroup_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-MainGroup_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-MainGroup_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CustomerPhoto_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CustomerPhoto_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CustomerPhoto_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CustomerPhoto_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SectionTitle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CancelReplaceBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SectionTitle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-checkbox-on-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-RemoveBtn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-checkbox-on-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-RemoveBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-AddBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SectionTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-checkbox-on-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-RemoveBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-AddBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Address_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Address_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Address_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Address_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Address_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SignatureImg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-AddBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CustomerType_Corporate {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CancelBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Status_MC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressIndicatorBase_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressIndicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c5faf12-674b-406e-ab17-e805baed95a2 #m-7c5faf12-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-AddImageBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-checkbox-on-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ProgressTick_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-FingerprintImg_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-FingerprintImg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-FingerprintImg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-FingerprintImg_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ReplaceBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ReplaceBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SnackbarMsg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SnackbarBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SnackbarMsg_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-SnackbarBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ID_Front {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_74 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-ID_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_70 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_72 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Rectangle_73 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-Tip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-PrototypeTip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb #s-PrototypeTip_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-673cd4c6-a45b-4a02-b431-71ca1b1bcfbb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}