#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_184 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-FilterResults_Lbl_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Filter_TimeRange_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_210 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_211 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_212 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-FilterResults_Lbl_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Filter_TimeRange_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-base_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ReportTitle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ReportDate_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Btn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-NavDrawerBG_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ModeSwitchBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_59 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1628bfaf-9ba2-41d8-95cf-aeb96c7b3fd8 #m-1628bfaf-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Title_Dlg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Alerts_None {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Title_Dlg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Alerts_None_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}