#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Report_Loan {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_145 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_146 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_147 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_148 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_149 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_150 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_151 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_152 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_153 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_28 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_154 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_155 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_156 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_157 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_158 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_159 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_160 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_161 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_162 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_163 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_164 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_165 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_166 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_167 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_168 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_169 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_170 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_171 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_172 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_173 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_174 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_175 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_176 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_177 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_178 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_179 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_180 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_181 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_182 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_183 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_184 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_185 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_186 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_187 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_188 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_189 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-FilterResults_Lbl_1 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_14 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Filter_TimeRange_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_84 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Category_5-options {
  background-color: transparent;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_72 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_74 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_76 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_78 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_81 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_88 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_93 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_95 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Account_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 8px 8px 8px 8px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Account_1 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_39 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_191 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_193 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_192 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_205 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_47 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_206 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_207 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_208 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_209 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_210 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_83 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_211 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_212 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_213 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_214 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_215 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-FilterResults_Lbl_2 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_19 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_98 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_7 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Filter_TimeRange_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-base_9 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Ellipse_3 {
  stroke-width: 4px;
  stroke: #0078C3;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_5 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ReportTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ReportDate_1 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-NavDrawerBG_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-ModeSwitchBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_53 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_90 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_91 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Title_Dlg_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_60 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_61 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Alerts_None {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Panel_24 > .valign {
  vertical-align: top;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Title_Dlg_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-CloseBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_86 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Rectangle_87 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee #s-Alerts_None_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-793ca64f-ff47-4923-bcc6-ad56fe4619ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}