#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicatorBase_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_Next {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_Accept {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CloseBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-OverflowBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicatorBase_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicator_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-DoneLbl_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerName_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ReplaceBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Title_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Title_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SubmitBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_83 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SaveBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}