#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Details > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_50 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Signees_Step3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Signees_Step3 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_31 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Added_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Added_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Added_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SectionTitle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Added_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Payment_Step2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Payment_Step2 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_84 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #78BF12;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #78BF12;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #78BF12;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #78BF12;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_85 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_86 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_87 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Contract_Step1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_7 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_8 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_9 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Contract_Step1_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Contract_Step1_1 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_Next {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_Accept {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CloseBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Light > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Dark > .valign {
  vertical-align: middle;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_4 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_5 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Ellipse_6 {
  stroke-width: 6px;
  stroke: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_32 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicatorBase_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressIndicator_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ProgressTick_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerprintImg_0 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-DoneLbl_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-FingerName_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9E9D9D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9E9D9D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9E9D9D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9E9D9D;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-ReplaceBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_53 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_57 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_72 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Title_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Panel_33 > .valign {
  vertical-align: top;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Title_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_49 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Btn_50 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SubmitBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CancelBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_51 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SubmitBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-CancelBtn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_83 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Rectangle_98 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee #s-SaveBtn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8da80347-db8a-4762-ba7a-3bce01407dee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}