#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-ClearBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-SearchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-SearchFilter_Btn_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Deco_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-ServerData_Img {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-DeviceData_Img {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_5 > .valign {
  vertical-align: middle;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_90 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Label_ {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_93 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_89 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanApplicaitons {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanApplicaitons > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_83 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_50 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_67 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_68 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Status_MC_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_80 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_81 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Status_MC_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_52 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_82 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_91 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Status_MC_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_92 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Status_MC_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-FilterResults_Lbl_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-base_9 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Ellipse_3 {
  stroke-width: 4px;
  stroke: #0078C3;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_25 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_94 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_95 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_96 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_98 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_97 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_99 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_100 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_101 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Item_Chkd_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_12 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_33 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_43 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_37 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-NavDrawerBG_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-ModeSwitchBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_13 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_53 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_14 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_84 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Category_5-options {
  background-color: transparent;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanStatus_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanStatus_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanStatus_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-LoanStatus_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Filter_TimeRange_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Title_Dlg_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-CloseBtn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_60 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_61 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Alerts_None {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Panel_24 > .valign {
  vertical-align: top;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Title_Dlg_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-CloseBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_86 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Rectangle_87 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 #s-Alerts_None_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a5bb2c61-0b64-465a-94c4-fe4c61093019 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}