#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-BG_0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-SaveBtn_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-SaveBtn_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Amount_Current_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-base_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Base_Border {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Base_Btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-CloseBtn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 #s-CloseBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bfac5d91-25d1-4665-b8fe-bf2ad5aec1a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}