#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Details > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Assets {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Assets > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_36 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_119 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_166 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_39 > .valign {
  vertical-align: middle;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_171 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_40 > .valign {
  vertical-align: middle;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_172 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_105 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_98 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_99 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_101 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_120 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_167 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_100 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_107 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_41 > .valign {
  vertical-align: middle;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_173 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_42 > .valign {
  vertical-align: middle;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_174 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_106 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_110 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_111 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_112 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_39 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_16 {
  border-radius: 0px 0px 0px 0px;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-NavDrawerBG_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 32px;
  width: 236px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_21 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Light > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Dark > .valign {
  vertical-align: middle;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-AddNewCustomer_2 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_140 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_141 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_142 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_158 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_143 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_160 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_169 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Title_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-CloseBtn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_168 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-AddNewCustomer_3 > .valign {
  vertical-align: top;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_144 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_145 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_146 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_148 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_159 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_147 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_161 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_170 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Title_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Btn_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-CloseBtn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb #s-Rectangle_175 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c52b29a4-53d0-4035-9d02-45dab7b57beb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}