#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 > #alignmentBox {
  position: relative;
  max-width: 960px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F7FB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background {
  position: absolute;
  width: 960px;
  height: 601px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background > .paddingLayer {
  height: 601px;
  width: 960px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-background span#rtr-s-background_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: auto;
  background-image: url('../../images/279d4ab0-b5fb-4a4f-b1bb-9d70d974f3f5.png'), -moz-linear-gradient(left,#009AAA,#0077C4);
  background-image: url('../../images/279d4ab0-b5fb-4a4f-b1bb-9d70d974f3f5.png'), -webkit-linear-gradient(left,#009AAA,#0077C4);
  background-image: url('../../images/279d4ab0-b5fb-4a4f-b1bb-9d70d974f3f5.png'), -webkit-gradient(linear,left top,right top,color-stop(0%,#009AAA), color-stop(100%,#0077C4));
  background-image: url('../../images/279d4ab0-b5fb-4a4f-b1bb-9d70d974f3f5.png'), -o-linear-gradient(left,#009AAA,#0077C4);
  background-image: url('../../images/279d4ab0-b5fb-4a4f-b1bb-9d70d974f3f5.png'), linear-gradient(to right,#009AAA,#0077C4);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 {
  position: absolute;
  width: 960px;
  height: 554px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 > .paddingLayer {
  height: 516px;
  width: 887px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-base_8 span#rtr-s-base_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 {
  position: absolute;
  width: 15px;
  height: 3px;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 > .paddingLayer {
  height: 3px;
  width: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Statusbar {
  position: absolute;
  width: 960px;
  height: 20px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 {
  position: absolute;
  width: 960px;
  height: 20px;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 952px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Dynamic_Panel_4 {
  position: absolute;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Panel_1 {
  width: 960px;
  height: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 960px;
  height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Icons_6 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Icons_6 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 {
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 {
  position: absolute;
  width: 139px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 > .paddingLayer {
  height: 29px;
  width: 139px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-input {
  position: absolute;
  width: 341px;
  height: 32px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 {
  position: absolute;
  width: 341px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_3 > .paddingLayer {
  height: 31px;
  width: 336px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #shapewrapper-s-Line_3 marker {
  fill: #757575;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 341px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Line_3 {
  width: 341px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #shapewrapper-s-Line_4 marker {
  fill: #08AE9E;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 341px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Line_4 {
  width: 341px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #08AE9E;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Group_3 {
  position: absolute;
  width: 338px;
  height: 49px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + -32px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 > .paddingLayer {
  height: 20px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_37 span#rtr-s-Rectangle_37_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 {
  position: absolute;
  width: 0px;
  height: 30px;
  text-shadow: none;
  padding-left: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 .valign {
  vertical-align: top;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -32px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_5 > .paddingLayer {
  height: 29px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Group_4 {
  position: absolute;
  width: 338px;
  height: 49px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + -32px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 > .paddingLayer {
  height: 20px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_38 span#rtr-s-Rectangle_38_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 {
  position: absolute;
  width: 0px;
  height: 30px;
  text-shadow: none;
  padding-left: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 .valign {
  vertical-align: top;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -32px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Input_6 > .paddingLayer {
  height: 29px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_13 > svg {
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_13 {
  position: absolute;
  width: 23px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_13 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_13 > svg {
  height: 23px;
  width: 23px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 {
  position: absolute;
  width: 263px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-bottom {
  position: absolute;
  width: 960px;
  height: 48px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 {
  position: absolute;
  width: 960px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 > .paddingLayer {
  height: 48px;
  width: 960px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_2 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_5 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_5 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_5 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_6 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_6 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_6 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_4 > svg {
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_4 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_4 > img, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Image_4 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 > .clipping, #s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 span {
  color: #0084BA;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 #s-Rectangle_51 span#rtr-s-Rectangle_51_0 {
  color: #0084BA;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc0e7da7-6f06-4bdd-9467-c08d90c267c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}