#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Details > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Expences {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Expences > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-SectionTitle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Category_9-options {
  background-color: transparent;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-RemoveBtn_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Category_10-options {
  background-color: transparent;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-RemoveBtn_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-AddBtn_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressIndicatorBase_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressIndicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-ProgressTick_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_16 {
  border-radius: 0px 0px 0px 0px;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-NavDrawerBG_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 32px;
  width: 236px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_21 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Light > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Dark > .valign {
  vertical-align: middle;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc5dade7-ed55-4cc1-b3bb-c51ad168be7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}