#s-dff16748-1cdf-46cb-a183-482c66625957 #s-BG_0 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Tabbar_Normal {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Tabbar_Normal > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Tabbar_Max {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #E4E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E4E4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #E4E4E4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #E4E4E4;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Tabbar_Max > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Status_MC {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProfileBtn_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_133 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Details > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-CurrentProposition {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-CurrentProposition > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_98 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ErrorMsg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ErrorMsg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ErrorMsg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ErrorMsg_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_96 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_99 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-RemoveBtn_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-RemoveBtn_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-AddBtn_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-HitoryPropositions {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-HitoryPropositions > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Added_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Status_MC_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Added_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Status_MC_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DCDCDC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DCDCDC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCDCDC;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Summary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Summary > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_27 > .valign {
  vertical-align: bottom;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 88px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 128px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 1px;
  height: 26px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Profile_1 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Risk_1 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_147 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_148 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_149 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_150 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_151 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_152 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_153 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_154 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_155 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_156 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_157 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_158 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_159 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_160 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_161 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_162 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_163 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_164 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_165 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_166 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_167 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SectionTitle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_168 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_169 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_170 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_171 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_172 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_173 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_174 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_175 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_176 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressIndicatorBase_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressIndicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_0 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-ProgressTick_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-base_10 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_11 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Btn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-OverflowBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-BackBtn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Status_MC_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Status_OS {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_1 {
  -pie-background: linear-gradient(to right,#009AAA,#0077C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7FC4DB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7FC4DB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7FC4DB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7FC4DB;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_84 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_101 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_105 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Light > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Dark > .valign {
  vertical-align: middle;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Panel_21 > .valign {
  vertical-align: top;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_102 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_103 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_82 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Rectangle_97 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-DiscardBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E17C7C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E17C7C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E17C7C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E17C7C;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-dff16748-1cdf-46cb-a183-482c66625957 #s-PrototypeTip_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dff16748-1cdf-46cb-a183-482c66625957 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}