#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-DiscardBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2 #m-0669e2a5-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0669e2a5-48b1-4d90-9160-74b15d2232e2.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}