#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Panel_3 > .valign {
  vertical-align: top;
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_36 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_8 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_7 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_24 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_10 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_15 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_11 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_12 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_9 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_13 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_14 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_17 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_18 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_20 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_34 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_28 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_35 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_25 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_21 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_22 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-MainGroup_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-DoneLbl_23 {
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998 #m-147ad503-Item_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-147ad503-4df9-49f6-9057-f9e8c2d02998.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}