#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}