#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#m-18944749-506c-45b1-96af-68cda8dd93c6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}