#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}