#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-MessageSync {
  position: absolute;
  width: 961px;
  height: 563px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #101010;
  background-image: none;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 {
  position: absolute;
  width: 961px;
  height: 563px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 > .clipping, #m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 > .paddingLayer {
  height: 543px;
  width: 929px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_97 span#rtr-m-18944749-Rectangle_97_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 {
  position: absolute;
  width: 600px;
  height: 380px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 > .clipping, #m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 > .paddingLayer {
  height: 340px;
  width: 540px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 .valign {
  vertical-align: top;
  text-align: center;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_0 {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_1 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_2 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_3 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_4 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Rectangle_113 span#rtr-m-18944749-Rectangle_113_5 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #1E82F7;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 {
  position: absolute;
  width: 180px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 > .clipping, #m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 > .paddingLayer {
  height: 32px;
  width: 176px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-SubmitBtn_2 span#rtr-m-18944749-SubmitBtn_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 > svg {
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 > img, #m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-Image_93 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 {
  position: absolute;
  width: 220px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 > .clipping, #m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 > .paddingLayer {
  height: 32px;
  width: 216px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 span {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6 #m-18944749-CancelBtn_3 span#rtr-m-18944749-CancelBtn_3_0 {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-18944749-506c-45b1-96af-68cda8dd93c6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}