#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-MessageSubmit {
  position: absolute;
  width: 961px;
  height: 562px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #101010;
  background-image: none;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 {
  position: absolute;
  width: 961px;
  height: 562px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 > .clipping, #m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 > .paddingLayer {
  height: 542px;
  width: 929px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 .valign {
  vertical-align: top;
  text-align: left;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_45 span#rtr-m-5ea3b4c3-Rectangle_45_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 {
  position: absolute;
  width: 600px;
  height: 255px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 > .clipping, #m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 > .paddingLayer {
  height: 195px;
  width: 540px;
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 .valign {
  vertical-align: top;
  text-align: center;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 span {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 span#rtr-m-5ea3b4c3-Rectangle_46_0 {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 span#rtr-m-5ea3b4c3-Rectangle_46_1 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Rectangle_46 span#rtr-m-5ea3b4c3-Rectangle_46_2 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #1E82F7;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 > .clipping, #m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-SubmitBtn_2 span#rtr-m-5ea3b4c3-SubmitBtn_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 > svg {
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 > img, #m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-Image_72 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 > .clipping, #m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 span {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa #m-5ea3b4c3-CancelBtn_3 span#rtr-m-5ea3b4c3-CancelBtn_3_0 {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-5ea3b4c3-b4d5-4963-b244-9608a34c84aa.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}