#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}