#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-MessageNew {
  position: absolute;
  width: 961px;
  height: 553px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #101010;
  background-image: none;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 {
  position: absolute;
  width: 961px;
  height: 553px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 > .clipping, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 > .paddingLayer {
  height: 533px;
  width: 929px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 .valign {
  vertical-align: top;
  text-align: left;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 span {
  color: #101010;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_23 span#rtr-m-766778c6-Rectangle_23_0 {
  color: #101010;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0px 7px 25px 2px #999999;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 {
  position: absolute;
  width: 640px;
  height: 225px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 > .clipping, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 > .paddingLayer {
  height: 225px;
  width: 560px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 span {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 span#rtr-m-766778c6-Rectangle_5_0 {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 span#rtr-m-766778c6-Rectangle_5_1 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Rectangle_5 span#rtr-m-766778c6-Rectangle_5_2 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 > svg {
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 > img, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_74 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 > .clipping, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 span {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_4 span#rtr-m-766778c6-SaveBtn_4_0 {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 > .clipping, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 span {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-SaveBtn_5 span#rtr-m-766778c6-SaveBtn_5_0 {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 {
  position: absolute;
  width: 55px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 > img, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-Image_1 > svg {
  height: 55px;
  width: 55px;
  box-shadow: none;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E82F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E82F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E82F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E82F7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 {
  position: absolute;
  width: 200px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 > .clipping, #m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 > .paddingLayer {
  height: 32px;
  width: 196px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 span {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb #m-766778c6-InsurranceBtn_6 span#rtr-m-766778c6-InsurranceBtn_6_0 {
  color: #1E82F7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-766778c6-3b35-4212-8fbe-6ec983cb11bb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}