#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-SubmitBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc #m-cc0556ce-CancelBtn_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc0556ce-e539-4c4a-8483-b476717e16dc.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}