#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CloseBtn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Btn_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-DiscardBtn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b #m-da08cfe0-CancelBtn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-da08cfe0-3faa-47e4-8b4a-d51a77ce022b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}